<!DOCTYPE html>
<html>
<style>
  .title {
    text-align: center;
    padding: 100px;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: 60px
  }
</style>

<body>
    <h1 class="title" >Check out all things trending in todays age!</h1>
</body>
</html>
