<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <table style="width: 100%" border="1">
      <tr>

        <td>
          <a href="/">
            Home
          </a>
        </td>

        <td>
          <a href="/now_playing">
            Now Playing!
          </a>
        </td>

        <td>
          <a href="/trending_tv">
            Trending Tv!
          </a>
        </td>

      </tr>
    </table>

    <%= yield %>

  </body>
</html>
